body {
    font-family: 'Kanit', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    background-image: url(./img/unsplash_H6j0Zsy91WY.jpg);
    background-repeat: no-repeat;
    min-height: 586px;
    background-position: right top;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 10px;
}

.header__top {
    padding-top: 63px;
    padding-bottom: 144px;
    display: flex;
    align-items: center;
}


.header__info-disc h1 {
    font-size: 56px;
    font-weight: 600;
    line-height: 67px;
    letter-spacing: 0em;
    text-align: left;
    max-width: 569px;
    line-height: normal;
    font-style: normal;
}

.header__info-disc p {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    max-width: 370px;
    margin-top: 16px;
}

.nav ul {
    list-style-type: none;
    display: flex;
    grid-gap: 56px;
}

.nav ul li a {
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    letter-spacing: 0em;
    text-align: left;
    text-decoration: none;
    color: #12121266;
    transition: all 0.5s;
}

.nav ul li a:hover {
    color: #FF6428;
}

.logo {
    margin-right: 135px;
}

h1 span {
    color: #FF6428;
}

h2 span {
    color: #FF6428;
}

.get {
    display: inline-block;
    font-family: 'Kanit', sans-serif;
    background-color: #FF6428;
    width: 192px;
    height: 60px;
    padding: 18px, 48px, 18px, 48px;
    border-radius: 40px;
    gap: 10px;
    border: none;
    color: white;
    font-size: 16px;
    margin-top: 33px;
    box-shadow: 0 0 10px;
    padding: 10px;
}

.pmarket {
    margin-left: 40px;
    margin-right: 27px;
    margin-top: 40.81px;
}

.icon a {
    transition: all 0.5s;
    text-decoration: none;
}

.astore {
    text-decoration: none;
}

.icon a:hover {
    opacity: 0.7;
}
.fl {
    display: flex;
    min-height: 100px;
    align-items: center;
}

h2 {
    font-size: 44px;
    text-align: center;
    padding-top: 160px;
}

.guitar__top {
    display: flex;
    padding-top: 154px;
    justify-content: center;
    grid-gap: 54px;
}

.guitar__bottom {
    display: flex;
    padding-top: 164px;
    grid-gap: 54px;
    justify-content: center;
}

.ash3 {
    padding-top: 40px;
}

h3 {
    font-size: 16px;
}

p {
    font-size: 14px;
    color: #666666;
}

.types {
    display: flex;
    padding-top: 80px;
    grid-gap: 69px;
    justify-content: center;
}

.acou {
    position: absolute;
    font-size: 20px;
}

.elec {
    position: absolute;
    font-size: 20px;
}

.bas {
    position: absolute;
    font-size: 20px;
}

.coll {
    position: absolute;
    font-size: 20px;
}

.type {
    height: 280px;
    width: 220px;
    background-repeat: no-repeat;
    background-size: cover;
}

.type-acou {
    background-image: url(./img/acoustic.jpg);
}

.type-elec {
    background-image: url(./img/electric.jpg);
}

.type-bas {
    background-image: url(./img/basses.jpg);
}

.type-coll {
    background-image: url(./img/collections.jpg);
}

.acou {
    font-size: 20px;
    color: white;
    padding-top: 220px;
    padding-left: 65px;
}

.elec {
    font-size: 20px;
    color: white;
    padding-top: 220px;
    padding-left: 73px;
}

.bas {
    font-size: 20px;
    color: white;
    padding-top: 220px;
    padding-left: 73px;
}

.coll {
    font-size: 20px;
    color: white;
    padding-top: 220px;
    padding-left: 53px;
}

.brands {
    display: flex;
    grid-gap: 160px;
    padding-top: 75px;
    justify-content: center;
}

.wt {
    color: white;
}

.rythm {
    margin-top: 180px;
    background-color: #121212;
    padding-bottom: 94px;
}

.iconki {
    display: flex;
    grid-gap: 0 277px;
    justify-content: center;
    padding-top: 95px;
}

.rect {
    border-radius: 20px;
    color: #262626;
}

.kj {
    width: 72px;
    height: 72px;
    border-radius: 20px;
    background-color:#262626;
    padding: 20px;
    margin: 0 auto;
}

.aj3 {
    text-align: center;
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    letter-spacing: 1.44px;
    text-transform: uppercase;
    padding-top: 40px;
}

.pe {
    text-align: center;
}

.customer {
    display: flex;
    padding-top: 109px;
    grid-gap: 147px;
}

.cit {
    font-size: 24px;
}

.rw {
    font-size: 24px;
    padding-top: 56px;
}

.pg {
    font-size: 18px;
    padding-top: 8px;
    color: #868686;
}

h4 span {
    color: #FF6428;
}

h4 {
    font-size: 48px;
    font-style: normal;
    font-weight: 600;
    line-height: 140%;
}

.downl {
    padding-top: 60px;
}

.qqq {
    display: flex;
    padding-top: 240px;
    justify-content: center;
    align-items: center;
}

.footer {
    background-color: #EEEEEE;

}

.futr {
    padding-top: 80px;

    display: flex;
    margin-top: 120px;
    justify-content: space-between;
}

.logotip {
    display: grid;
}

.adress {
    padding-top: 28px;
}

.sms {
    text-align: center;
    vertical-align: middle;
    display: flex;
    height: 20px;
    align-items: center;
}

.loc {
    padding-top: 20px;
    text-align: center;
    vertical-align: middle;
    display: flex;
    height: 20px;
    align-items: center;
}

.sms span {
    padding-left: 20px;
}

.loc span {
    padding-left: 20px;
}

h5 {
    color: #121212;
    font-size: 18px;
}

.ulpages {
    font-size: 16px;
    color: #12121299;
    list-style-type: none;
    
}

.ulpages li {
    padding-bottom: 16px;
}

.str {
    padding-top: 20px;
}

.ulpages a {
    text-decoration: none;
    color: #12121299;
}

.fulpages a {
    text-decoration: none;
    color: #12121299;
}

.fulpages {
    display: flex;
    color: #12121299;
    list-style-type: none;
    grid-gap: 32px;
    margin-left: -9px;    
}
@media screen and (max-width: 768px) {
    header {
        background-size: 330px;
        background-position: top right;
        min-height: 313px;
    }

    .header__top {
        padding-top: 40px;
        padding-bottom: 28px;
    }

    .header__info-disc h1 {
        font-size: 20px;
        max-width: 242px;
    }

    .header__info-disc p {
        font-size: 12px;
        max-width: 306px;
        margin-top: 0;
    }

    .logo {
        margin-right: 24px;
    }

    .nav ul {
        grid-gap: 35px;
    }

    .nav ul li a {
        font-size: 13px;
    }

    .get {
        width: 115px;
        height: 35px;
        font-size: 11px;
        margin-top: -9px;
    }

    .pmarket {
        margin-left: 25px;
        margin-right: 15px;
        margin-top: 2.81px;
        width: 20px;
    }

    .astore {
        width: 20px;
    }

    h2 {
        font-size: 30px;
        padding-top: 50px;
    }
    .guitar img {
        width: 170px;
    }

    .guitar__top {
        padding-top: 30px;
        grid-gap: 45px;
    }

    .guitar__bottom {
        padding-top: 30px;
        grid-gap: 45px;
    }

    h3 {
        font-size: 12px;
    }

    .ash3 {
        padding-top: 5px;
    }

    p {
        font-size: 10px;
    }

    .type {
        height: 172px;
    }

    .types {
        padding-top: 56px;
    }

    .acou {
        padding-top: 130px;
        padding-left: 30px;
    }

    .elec {
        padding-top: 130px;
        padding-left: 38px;
    }

    .bas {
        padding-top: 130px;
        padding-left: 40px;
    }

    .coll {
        padding-top: 130px;
        padding-left: 22px;
    }

    .brands {
        grid-gap: 60px;
    }

    .rythm {
        margin-top: 40px;
    }

    .iconki {
        grid-gap: 0 32px;
        padding-top: 70px;
    }

    .kj {
        width: 62px;
        height: 62px;
    }    

    .kj img {
        width: 30px;
        padding-right: 5px;
    }

    .customer {
        grid-gap: 100px;
    }

    .photo img {
        width: 250px;
    }

    .cit {
        font-size: 20px;
    }

    .rw {
        padding-top: 35px;
    }

    .qqq {
        padding-top: 90px;
    }

    .rightside img {
        width: 350px;
    }

    .downl {
        width: 300px;
        padding-top: 45px;
    }

    h4 {
        font-size: 30px;
    }

    .futr {
        margin-top: 40px;
    }

    .logor {
        width: 130px;
    }

    .adress {
        padding-top: 0;
    }

    h5 {
        font-size: 14px;
    }

    .ulpages {
        font-size: 13px;
    }

    .fulpages {
        font-size: 13px;
        grid-gap: 12px;
    }

@media screen and (max-width: 420px) {
    
}